/*Test Stylesheet! */

/* # in front uses a specific element */

#logo {
	background-image: url(../images/TsuSmile.png);
	height: 300px;
	width: 300px;
	background-size: 100%;
}

/* nothing in front uses the html element */

html {
	height: 100%;
}

body {
	background: linear-gradient(to bottom, #181818, #464646 );
	height:100%;
	overflow: hidden;
	margin: 0;
}

/* . in the front is used for a class! */

.colored	{
	color: #8551bd;
	}

.centerdiv {
	display:flex;
	justify-content: center;
	align-items: center;
	height: 300px;
}

.center {
	text-align: center;
}

.large {
	font-size: 300%;
}

.bordered {
	border-style: double;
	border-radius: 30px;
	border-color:rgb(161, 85, 196);
}

.underlined {
	border-bottom: 2px solid rgb(68, 48, 182);
	line-height: 100px;
}
